name: CICD
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install packages
        run: make install
      - name: format
        run: make format
      - name: lint
        run: make lint
      - name: test
        run: make test
  deploy:
    runs-on: ubuntu-latest
    needs: build   # it is not executed if build fails
    env:
          RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
          SERVICE_NAME: "calculator-web-service"
          DOCKER_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/calculator-api:latest
          REGION: "frankfurt"
          PLAN: "hobby"
    steps:
      - name: Checkout repository (with submodules)
        uses: actions/checkout@v4 
        with:
          submodules: recursive

      - name: Set up QEMU (for buildx)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ env.DOCKER_IMAGE }}
          file: ./Dockerfile
      - name: Get Render ownerID
        id: get_ownerID
        run: |
          OWNER_ID=$(curl -s -H "Authorization: Bearer $RENDER_API_KEY" \
          https://api.render.com/v1/owners | jq -r '.[] | select(.type=="user") | .id' | tr -d '\n')
          echo "owner_id=$OWNER_ID" >> $GITHUB_OUTPUT

      - name: Check if web service exists on Render
        id: check_service
        run: |
          SERVICE_ID=$(curl -s -H "Authorization: Bearer $RENDER_API_KEY" \
            https://api.render.com/v1/services | jq -r --arg NAME "$SERVICE_NAME" '.[] | select(.name==$NAME) | .id')
          if [ -z "$SERVICE_ID" ]; then
            echo "service_exists=false" >> $GITHUB_OUTPUT
          else
            echo "service_exists=true" >> $GITHUB_OUTPUT
            echo "service_id=$SERVICE_ID" >> $GITHUB_OUTPUT
          fi
      - name: Create web service on Render if not exists
        if: steps.check_service.outputs.service_exists == 'false'
        run: |
          OWNER_ID="${{ steps.get_ownerID.outputs.owner_id }}"
          curl -X POST https://api.render.com/v1/services \
          -H "Authorization: Bearer $RENDER_API_KEY" \
          -H "Content-Type: application/json" \
          -d "{
            \"name\": \"$SERVICE_NAME\",
            \"type\": \"web_service\",
            \"dockerImage\": \"$DOCKER_IMAGE\",
            \"region\": \"$REGION\",
            \"plan\": \"$PLAN\",
            \"ownerID\": \"$OWNER_ID\"
          }"
      - name: Update web service if exists
        if: steps.check_service.outputs.service_exists == 'true'
        run: |
          curl -X PATCH https://api.render.com/v1/services/${{ steps.check_service.outputs.service_id }} \
          -H "Authorization: Bearer $RENDER_API_KEY" \
          -H "Content-Type: application/json" \
          -d "{
            \"dockerImage\": \"$DOCKER_IMAGE\"
          }"

  deploy-hf:
    runs-on: ubuntu-latest
    needs: deploy   # it is not executed if deploy fails
    steps:
      - name: Checkout repository with all branches
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # needed to access other branches (hf-space)
          ref: main
      
      - name: Switch to hf-space branch
        run: |
          git fetch origin hf-space
          git checkout hf-space
      
      - name: Add Hugging Face remote
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: ${{ secrets.HF_USERNAME }}
        run: git remote add huggingface https://${HF_USERNAME}:${HF_TOKEN}@huggingface.co/spaces/${HF_USERNAME}/MLOps-Lab2-demo.git

      - name: Push hf-space branch to Hugging Face
        run: git push huggingface hf-space:main --force